*{
    /* transition: ease-in 4s; */
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    border: 1px solid black;
    background-color: black;
z-index: 1;
display: flex;
color: aliceblue;
justify-content: center;
gap: 30px;
height: 50px;
align-items: center;

width: 99.9%;
}
nav{
    position: sticky;
top: 0%;
z-index: 1;
}
img{
    height: 500px;
    border-radius: 20px;
}
#home2{
    padding-top:50px ;
height: 500px;

    width: 600px;
}

#home{
    padding-top: 20px;
    text-align: center;
    position: relative;
    height: 100vh;
    color: aliceblue;
    background-color:black;
}
.resume_para{
    padding-top: 20px;

    font-size: large;
    font-weight:bolder;
}
#resume{
    color: black;
}
#home1>a{
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
#outline{
    display: flex;
    border:1px solid black;
    height: 600px;
    width: 1100px;
    color: black;
    background-color:white;
    margin-left: 200px;
    border-radius: 20px;
    padding-top: 50px;
}
section i{
font-size: xx-large;
}
#home1 section{
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
}
section a{
    color: black;
}
#outline h1{
    padding: 200px 60px 0px 60px;
font-size: 60px;
}
#outline h3{
    font-size: 30px;

}
#content2{
    border: 1px solid black;
    min-height: 100vh;
    background-image: url("./componet/futuristic-education-concept-with-glowing-low-polygonal-open-book-graduation-cap-isolated-dark-blue-background-modern-wire-frame-mesh_67515-1040.avif");
    background-repeat: no-repeat;
    background-size: 100%;
}
#education{
    padding-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.edu-contents{
    border: 1px solid black;
    height: 500px;
    width: 350px;
    border-radius: 20px;
    background-color: aliceblue;
    
}
#education img{
    height: 200px;
    width: 350px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius: 0px;
}
td , th{
    padding: 10px;

}
#education a{
    color: black;
    border: 1px solid black;
    position: relative;
    top: 240px;
    left: 105px;
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
#education a:hover{
    background-color: hsl(0,100%, 50%);
    color: black;
}
.edu-contents:hover{
    box-shadow: 10px 10px 20px white;
}
#edu-heading{
    padding-top: 70PX;
color: aliceblue;
text-align: center;
}

#parent_skills{
    min-height: 100vh;
    text-align: center;
}
#skills{

    margin-left: 200px;
    border: 1px solid black;
    height: 600px;
    width: 1100px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: aliceblue;
}
#skills1{
    
   height: 400px;
   width: 600px;
    text-align: left;
    line-height: 40px;
    text-indent: 20PX;
}
.skills{
    min-height: 400px;
    width: 200px;
}
.skillimages > img{
    height:80px;
    width: 100px;
}
progress {

    padding-left:40PX ;
    width: 550px;
    height: 10px;
    border: none;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background-color:chartreuse;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: rgb(51, 0, 255);
    border-radius: 5px;
}
#projects{
    background-image: url("./componet/1127275-beautiful-cool-black-background-designs-1920x1200-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 100%;

}
#project-content{
   min-height: 80vh;
    display: flex;
    gap: 20px;
}

#project-heading{
    text-align: center;
    padding: 30px 0px;
    color: white;
}
.dropbtn {
    
    background-color: black;
    color: white;
    padding: 16px;
    width: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: xx-large;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: black;
    border: 2px solid black;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    color:white;
    line-height: 40px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 400px;
  }
  
  .dropdown-content a {
    color: red;
    font-size: larger;
    font-weight: 900;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown a:hover {background-color: white;}
  
  .show {display: block;}

  #contact-head{
    text-align: center;
    padding: 30px;
  }
  #parent_contact{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
  }

  form input{
    border: 2px solid black;
    height: 20px;
    width: 500px;    

}

form textarea{
    border: 2px solid black;
    height: 100px;
    width: 500px;    

}     
 #submit-button{
    width: 600px; 
    text-align: center;
    margin-bottom: 20px;
 } 
 #submit-button >button{
 height: 40px;
 width: 80px;
background-color: black;
color: aliceblue;
 font-size: larger;
 font-weight: 700; 
} 


@media only screen and (max-width: 768px) {
    *{
        margin: 0px;
        /* border: 1px solid black; */
    }
    nav{
        border: 1px solid black;
        height: 50px;
        background-color: black;
        line-height: 40px;
        position: sticky;
        top: 0%;
        width: 100%;
    }
    #navbar{
    
        display: flex;
        justify-content: center;
        gap: 30px;
    
    }
    #navbar  a{
        color: white;
        text-decoration: none;
    }
    #home{
        min-height: 100vh;
    }
    #outline{
        display: flex;
        margin: 0px;
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    #home2{
        height: 500px;
        width: 400px;
        padding-left: 30px;
    }
    #home2 img{
        height: 500px;
        width: 400px;
        
    }
    #home1{
        /* border: 1px solid black; */
        /* padding: 100px; */
        /* line-height: 10px; */
        text-align: center;
    
    }
    #home1 a{
        color: black;
        text-decoration: none;
    
    }
    section{
        margin-top: -100px;
        text-align: end;
        color: white;
    }
    section a{
        font-size: medium;
        color: black;
    }
    img{
        height: 100px;
        width: 100px;
    }
    #content2{
        text-align:center ;
        border: none;
        
        background-image: none;   
        margin-top: 400px;    
    }
    #edu-heading{
        color: black;
        border: none;
    }
    #education img{
        border: none;
     height: 200px;
     width: 100%;
    
    }
    #education {
        color: black;
        padding: 0px 50px; 
        display: flex;
        flex-direction: column;
        background-color: black;
       }
       #education a{
        color: black;
        /* border: 1px solid black; */
     
        background-color: red;
        padding: 10px;
        color: white;
        border-radius: 5px;
    }
    .edu-contents{
        padding: 40px 10px; 
       }
       .edu-contents a{
        text-decoration: none;
       color: white;
       border: 1px solid white;
       
       }
       #project-content{
        min-height: 1000px;
        display: flex;
        flex-direction: column;
        gap: 400px;
       }
       .dropbtn {
        
        background-color: black;
        color: white;
        padding: 16px;
        width: 100%;
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-size: xx-large;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: white;
        color: black;
        border: 2px solid black;
        
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color:black;
        color:white;
        line-height: 40px;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        height: 400px;
      }
      
      .dropdown-content a {
        color: red;
        font-size: larger;
        font-weight: 900;
        background-color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
      .dropdown a:hover {background-color: white;}
      
      .show {display: block;}
    
    
#parent_skills{
    min-height: 40vh;
    text-align: center;
}
#skills{

    margin-left: 0px;
    border: 1px solid black;
    height: 400px;
    width: 100%;
    border-radius: 20px;
    background-color: black;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 20px;
    color: aliceblue;
}
#skills1{
    
   height: 300px;
   width: 100%;
    text-align: left;
    line-height: 40px;
    text-indent: 20PX;
}
.skills{
    min-height: 300px;
    width: 200px;
}
.skillimages > img{
    height:40px;
    width: 50px;
}
progress {

    padding-left:40PX ;
    width: 250px;
    height: 10px;
    border: none;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background-color:chartreuse;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: rgb(51, 0, 255);
    border-radius: 5px;
}
#contact-head{
    text-align: center;
    padding: 30px;
  }
  #parent_contact{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  form input{
    border: 2px solid black;
    height: 20px;
    width: 100%;    

}

form textarea{
    border: 2px solid black;
    height: 100px;
    width: 350px;    

}     
 #submit-button{
    width: 100%; 
    text-align: center;
    margin-bottom: 20px;
 } 
 #submit-button >button{
 height: 40px;
 width: 80px;
background-color: black;
color: aliceblue;
 font-size: larger;
 font-weight: 700; 
} 
}